.navigation-bar ul {
    list-style: none;
    margin-top: 30px;
}

.navigation-bar ul li{
    display: inline;
    margin-top: 20px;
    font-size: 1.2em;
}

.navigation-bar ul li a{
    color:antiquewhite;
    text-decoration: none;
    margin-left: 20px;
}

.full-navigation{
    background: black;
}

.full-navigation h2{
    color: rgb(116, 8, 8);
}

.carousel-inner{
    width: 100%;
}

.carousel-inner img{
    width: 200%;
    overflow: hidden!important;
    position:relative;
    left:15%;
    margin-bottom: 70px;


}

.carousel-caption h1{
    font-family: 'Inter', sans-serif;
    color: black;
}

.sub-sahara{
    color: #9f1c2e;
    font-weight: bold;
}

.clicker{
 background-color: #fff!important;
 color:black;
 border-radius: 20px;
 border: solid;
 padding:5px 9px 5px 9px;
 position: absolute;
 font-size:12px;
 text-decoration:none!important;
 transition:.3s;
}

.clicker:hover{
    color:black;
    padding-left: 30px;
    
}

.angle{
 padding: 15px;
}

.icon img{
 width:15%;
}

.carousel-indicators li{
    border: 1px solid #9f1c2e !important;
}

.carousel-indicators .active{
    background-color: #9f1c2e !important;

}


.comment{
    color: #9f1c2e;
    font-size: 19px;
    text-align: center; 
}

.text{
    margin-top: 20px;
    color: #fff !important;
    font-family: 'Source Sans Pro', sans-serif;
}
.hat{
    background-color: #9f1c2e !important;

}


.text-click{
 background-color: black !important;
 color:#9f1c2e;
 border-radius: 20px;
 padding:5px 9px 5px 9px;
 position: absolute;
 font-size:12px;
 text-decoration:none!important;
}

.text-click:hover{
    color:#9f1c2e;
    
    
}

.text-image{
    position: absolute;
    left: 15px;
}

.footer{
    margin-left: 80%;
}

.my-footer{
    background: black!important;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 40px;
    color: #fff;
}

.footer-list p{
    position: absolute;
    left: -60px;
    bottom: 3px;
}

.footer-list ul li{
    display: inline;
    margin-top: 20px;
    font-size: 1.2em;
}

.footer-list ul li a{
    color:white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
   
}

.footer-menu{
    margin-left: auto;
}

